.aboutus_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.aboutus_image {
  width: 180px;
  height: 180px;
  background-image: url("../../assets/images/lacivert/lacivert009.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  float: left;
  margin-right: 10px;
}

@media only screen and (min-width: 767px) {
  .aboutus_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .aboutus_image {
    width: 360px;
    height: 360px;
    background-position: top center;
    margin-right: 10px;
  }
  .aboutus_content .section_desc {
    align-self: center;
  }
}
