.review_item {
  /* width: 127px; */
  background-color: var(--secondary-color);
  padding: 50px 5px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin: 0 15px;
}
.review_item_text,
.review_item_author {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 400;
  padding: 0 15px 20px;
  line-height: 33px;
  color: var(--white-color);
}
.review_item_author {
  font-weight: 600;
  font-size: 16px;
}

@media only screen and (min-width: 767px) {
  .review_item {
    /* width: 127px; */
    background-color: var(--secondary-color);
    padding: 0 15px;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;
    margin: 0 15px;
    height: 180px;
  }
  .review_item_text,
  .review_item_author {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    font-weight: 400;
    padding: 0 15px;
    line-height: 33px;
    color: var(--white-color);
    text-align: left;
  }
}
