.feature_container {
  background-color: var(--light-grey-color);
  width: 100%;
}
.features_items_wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  margin-top: 60px;
}
.features_item {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.features_item_icon_wrapper {
  background-color: var(--red-color);
  color: var(--white-color);
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.features_item:nth-last-child(3) .features_item_icon_wrapper,
.features_item:nth-last-child(1) .features_item_icon_wrapper {
  grid-column: 2;
}
.features_item_icon_wrapper svg {
  font-size: 54px;
}
.features_item-title {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--secondary-color);
  text-align: left;
}

.features_item_desc {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: var(--input-color);
  text-align: justify;
}

@media only screen and (min-width: 767px) {
  /* .feature_container {
    padding: 100px 60px;
  } */
  .features_items_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 30px;
    margin-top: 60px;
  }
  .features_item {
    width: 450px;
    gap: 15px;
  }
  .features_item:nth-last-child(3) .features_item_icon_wrapper,
  .features_item:nth-last-child(1) .features_item_icon_wrapper {
    grid-column: 1;
  }
  .features_item-title {
    align-self: flex-end;
  }
}
