.partners_container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/bg_partners.png");
}
.partners_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.partners_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}
.partners_list_item {
  opacity: 0.7;
  transition: all 0.2s;
  transform: scale(0.7);
}
.partners_list_item:hover {
  opacity: 1;
}

.partners_title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: var(--dark-blue-color);
  padding: 0 25px;
}

@media only screen and (min-width: 767px) {
  .partners_title {
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    padding: 0 25px;
  }
}
