:root {
  --primary-color: #000;
  --secondary-color: #024d94;
  --white-color: #fff;
  --red-color: #bb133a;
  --yellow-color: #eeb524;
  --yellow-bg-color: #f8d171;
  --dark-red-color: #930000;
  --dark-blue-color: #02407b;
  --border-color: #ddd;
  --input-border-color: #ebebeb;
  --input-color: #555;
  --light-grey-color: #fafafa;
  --primary-font-family: "Nunito Sans", sans-serif;
  --secondary-font-family: "Open Sans", sans-serif;
  --color_danger: rgb(230, 34, 93);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
button {
  border: none;
}

ul {
  list-style: none;
}
.p-15 {
  padding: 150px 15px;
}
.p-30 {
  padding: 120px 30px;
}
.section_title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: var(--secondary-color);
}
.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section_wrapper {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}
@media only screen and (min-width: 767px) {
  .section_title {
    font-size: 48px;
    line-height: 38px;
    text-align: center;
  }
}
.section_desc {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: var(--input-color);
  text-align: justify;
}
@media only screen and (min-width: 767px) {
  .section_desc {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
}
.section_line {
  margin: 30px 0;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
}
